Entra ID Username,TAP,Entra Password,GitHub Username,GH Password,Type
Instructor@yourdomain.onmicrosoft.com,,YourPassword,Instructor@yourdomain.onmicrosoft.com,YourGHPassword,Instructor
Student001@yourdomain.onmicrosoft.com,,YourPassword,Student001@yourdomain.onmicrosoft.com,YourGHPassword,Student
Student002@yourdomain.onmicrosoft.com,,YourPassword,Student002@yourdomain.onmicrosoft.com,YourGHPassword,Student
